.AdminPanel{

    background-color: #151944;
}
.AdminPanel h2{
    color: white;
    padding-top: 20px;
}

.ManageAdmin{
    padding-bottom: 20px;
    background-color: #151944;
}
.cardsAdminPanel{
    max-width: 1500px;
    justify-content:center;
    flex-wrap:wrap;
    display: flex;
    margin: 0  1% 0 1%;
}

.cardAP{
    background-color: white;
    flex:1;
    flex-basis:48%;  
    border-radius: 20px;
    margin: 10px 1% 10px 1%;
}

.manageContainer{
    max-width: 90%;
    overflow:auto;
    overflow-y: hidden; /* Hide horizontal scrollbar */
}
#ManageBotellaTable{
    background-color: black;
    color: white;
    margin: 0px;
}