.Catalogo
{
    background-color: #d2c6b2;
    border-radius: 10px;
    text-align: center;
}

.Catalogo h2{
    background-color: #708160;
    color: white;
}
.BotellaList
{
    border-radius: 5px;
    background-color:#F2F6D0;
    align-items: center;
    text-align: center;
    display: inline-flex;
    width: auto;
}

.cardMB
{
    background-color: #937d14;
    border-radius: 20px;
    margin: 15px;
    /*padding: -10px;*/
    width: 260px;
}

.cardMB ul li
{
    text-align: center;
    align-content: center;
    list-style-type: none;
    background-color: #eae7d9;
}

.car

.cardMB p
{
    color:white;
    font-size: large;
}

.cardMB button
{
    color:black;
    background-color: white;
    border-radius: 5px;
    border-width: 0px;
    width:55%;
    margin-top: 7px;
    margin-bottom: 7px;
}