.Catalogo
{
    background-color: #e8eefc;
    border-radius: 10px;
    text-align: center;
}

.Catalogo h2{
    background-color: #9a774f;
    color: white;
    border-radius: 10px;
    padding:5px;
    margin:5px;
    display: inline;
}
.BotellaList
{
    border-radius: 5px;
    background-color:#faf6f1;
    align-items: center;
    text-align: center;
    display: inline-flex;
    width: auto;
}

.cardMB
{
    background-color: #3b6fb3;
    border-radius: 20px;
    margin: 15px;
    /*padding: -10px;*/
    width: 260px;
}

.cardMB ul li
{
    text-align: center;
    align-content: center;
    list-style-type: none;
    background-color: #faf6f1;
}
.cardMB p
{
    color:white;
    font-size: large;
}

.cardMB button
{
    color:black;
    background-color: white;
    border-radius: 5px;
    border-width: 0px;
    width:55%;
    margin-top: 7px;
    margin-bottom: 7px;
}