.Creador{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    padding: 10px;
    padding-top: 2%;
    background-color: #070c08;
    color:white;
}

.Creador .area{
    border:0px;
    margin:15px;
    flex:1;
    flex-basis: 46%;  
    border-radius: 15px;
    color: white;
    padding: 2% 2% 2% 2%;
    font-weight: bolder;
}

.Creador .area2{
    border:0px #ccc ;
    padding: 3% 5% 3% 5%;

    margin: 10px;
    flex:1;
    flex-basis: 100%;  
    border-radius: 20px;
    color: white;
}

.progressBar{
    background-color: seagreen;
    flex-basis: 100%;
    flex:1;
    justify-content: center;
    display: flex;
}

.progressBarMargin{
    margin: 5px #000000;
    background-color: white;
    max-width: 50%;
    flex:1;
    margin-left: 20px;
    border-radius: 10px;
}

.innerProgress{
    padding: 1px;
    background-color: rgb(0, 140, 255);
    margin: 3px;
    border-radius: 10px;
}

.TipoVaso{
    background-color: #151944;
}

.AcceptCreador{
    justify-content: center;
    flex:1;
}

.bebidaSelector{
    background-color: #8f2213;
}

.Porcentajes{
    background-color: #8f2213;
}

.PorcentajeWork{
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: 5px;
    width: auto;
    padding-top: 10px;
}

.RecipienteC{
    max-width: 350px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}

.RecipienteCP{
    background-color: #2940c7;
    border-radius: 10px;
    font-weight: bold;
    margin:auto;
    max-width: 350px;
    color: white;
}

.MBButtonC{
    background-color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
}

.sliderP{
    -webkit-appearance: none;
    width: 70%;
    border-radius: 10px;
    height: 10px;
    background: #7a95ec;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sliderP::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
}