.footerMB{
    color:white;
<<<<<<< HEAD
    background-color: rosybrown;
=======
    width: auto;
    background-color: #259b39;
>>>>>>> 71dd7c6348d19b103dbf11fa6488e8ec443199a1
    height: 250px;
}

.footerInformation input
{
    margin-bottom: 5px;

}

/*.footerInformation input:hover{
    background-color: rgb(red, green, blue);
}*/

/*.footerInputs{
   /* display: -moz-inline-grid*/
   /* display: inline-table;
}


.footerInputs input{
    display: inline-table;
}*/

.footerForm{
    margin:0 -16px 8px -16px;
    display: block;
}

.footerButton{
    width: 200px;
    border-radius: 20px;
    background-color: royalblue;
    margin-top: 10px;
    border:0px;
}

