.footerMB{
    color:white;
    background-color: #D79922;
}

.footerInformation input
{
    width:200px;
    margin-bottom: 5px;
    margin-left: 10px;
}


.footerInformation input:hover{
    background-color: blue;
}

.footerInputs{
    display: inline-flex;
}

.footerInputs input{
    display: inline-flex;
}

.footerForm{
    margin:0 -16px 8px -16px;
    display: block;
}

.footerButton{
    width: 200px;
    border-radius: 20px;
    background-color: royalblue;
    border:0px;
}

