.footerMB{
    color:white;
    width: auto;
    background-color: #259b39;
    height: 250px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.footerInformation input
{
    margin-bottom: 5px;

}

/*.footerInformation input:hover{
    background-color: rgb(red, green, blue);
}*/

/*.footerInputs{
   /* display: -moz-inline-grid*/
   /* display: inline-table;
}


.footerInputs input{
    display: inline-table;
}*/

.footerForm{
    margin:0 -16px 8px -16px;
    display: block;
}

.footerButton{
    width: 200px;
    border-radius: 20px;
    background-color: royalblue;
    margin-top: 10px;
    border:0px;
}

