@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.HomeBackground
{
    background-image: url("../img/Home.jpg");
    height: 100vh;
    color: white;
}

*{
    font-family: 'Montserrat', sans-serif;
}

.HomeTitle{
    font-weight:bold;
    padding-top: 50px;
    padding-bottom: 30px;
}

.HomeText{
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
}

.HomeContainer{
    justify-content: center;
    display:flex;
}

.funcionArea{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
#jumboHome{
    
    margin-bottom: 0;
}

.HolaB{
    margin-top: 100px;
    font-weight: bold;
    font-size: 380%;
}

.lead{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 30px;
}
.QuienesSomos{
    background:#151944;
    /*display: block;*/
    height: auto;
    color: white;
}
.info{
    margin-top: 20px;
}
.promo{
    margin-top: 20px;
}

.delimitacion{
    background-image: url("../img/delimitacion.jpg");
    height:500px;
    color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.delimit{
    margin-top: 20px;
}
.funciones{
    background-color: #151944;
    color: white;
    height: auto;
}

.titleButton{
    border: 3px;
    border-color: white;
    margin: 10px;
    border-radius: 10px;
}

.icon{
    width: 50%;
    height: 50%;
    border-radius: 0.9rem;
}

.row-icon{
    align-content: center;
    padding: 10%;
}

.flip-container {
	display: flex;
	height: auto;
	justify-content: center;
	align-items: center;
    perspective: 1000px;
    margin-bottom: 20px;
}

.card {
	position: relative;
	height: 400px;
    margin: 0.7rem;
	text-align: center;
	line-height: 8rem;
	/*color: #ecf0f1;*/
	border-radius: 10px;
    transform-style: preserve-3d;
}

.face {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-size: cover;
	background-position: center center;
	backface-visibility: hidden;
	transition: transform 0.5s ease-in-out;
}


.face--front {
	background: #4b0b06;
	font-size: 3rem;
}

.face--back {
	background: #4b0b06;
	font-size: 1.5rem;
    transform: rotateY(180deg);
    align-content: center;
    padding: 10%;
}

.card:hover .face--front {
	transform: rotateY(-180deg);
}

.card:hover .face--back {
	transform: rotateY(0deg);
}

.HOME{
    background: white;
    width: 90vh;
}

.promoI{
    width: 90%;
    max-height: 400px;
}

.objetivos{
    background-image: url("../img/objetivos.jpg");
    height: 500px;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tituloObjetivos{
    margin-top: 20px;
    margin-bottom: 20px;
}
.especificos{
    margin-top: 40px;
}
.Promocionales
{
    margin-bottom: 20px; 
}