.formCont{
    margin-bottom: 15px;
}

#Register{
    background-color: #3b6fb3;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    width: auto;
    border-radius: 30px;
}

.Register Button{
    border-radius: 10px;
    background: white;
    color:black;
}

.maxdivCont{
    border-radius: 20px;
    width:auto;
    padding: 10px;
    
}

.Login{
    background-color: white;
    padding-bottom: 20px;
}

.Login h2{
    padding-top: 20px;
    font-weight: bold;
    color:black;
}