.formCont{
    margin-bottom: 15px;
}

.Register{
    background-color: #151944;
    color: white;
    width: auto;
    justify-content: center;
    font-weight: bold;
}

.maxdivCont{
    border-radius: 20px;
    width:auto;
    padding: 10px;
}

.Login{
    background-color: white;
    padding-bottom: 20px;
}

.Login h2{
    padding-top: 20px;
    font-weight: bold;
    color:black;
}