/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin: 8% 8%;
    border-radius: 20px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6768c7;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:royalblue;
  }