.MBButton{
    border-radius: 15px;
    border: 0px;
    margin: 7px;
    padding: 8px;
    background-color:#0f0b53;
    color: white;
    font-weight: bold;
}

.MBButton :checked{
    border: 0px;
}

.MBlink{
    font-size: 18px;
}

.eliminarButtonMB {
    background-color: rgb(218, 15, 15);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    border: 0;
    color: white;
    font-weight: bold;
  }