#ItemView{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    padding-left: 15%;
    padding-right: 15%;
}

.ItemName{
    font-weight: bold;
}
#ItemView .area{
    padding:10px;
    flex:1;
    flex-basis: 40%;  
    min-width: 350px;
}

#ItemView .area select{
    margin-left: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
}
.itemViewImg{
    padding-top: 25%;
}

.blkwButton{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-weight: bold;
}

.blkwButton:hover{
    border: 2px solid black;
    color: black;
    background-color: white;
    font-weight: bold;
}

.IVInfo{
    border: 2px solid;
    border-radius: 10px;
    margin: 0 1% 1% 1%;
}