.BotellaMForm {
  max-height: 100vh;
}

.inputFormMB {
  max-height: 100vh;
  text-align: center;
}

.buttonAddBotella {
  border: 3px black;
  color: black;
  box-shadow: 0 0 40px 40px #FFFFFF inset, 0 0 0 0 #FFFFFF;
  transition: all 150ms ease-in-out;
  border-radius: 10px;
  padding: 7px;  
  margin-bottom: 20px;
  font-weight: bold;
}

.editarButtonMB {
  background-color: grey;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  border: 0;
  color: white;
}

.eliminarButtonMB {
    background-color: red;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    border: 0;
    color: white;
    font-weight: bold;
  }


.buttonAddBotella:hover {
  box-shadow: 0 0 10px 0 #FFFFFF inset, 0 0 10px 4px #FFFFFF;
  color: white;
}

.formCont select {
  display: flexbox;
  margin-top: 8px;
  border-radius: 10px;
  background-color: white;
  width: 50px;
  height: 30px;
}
